{% extends "base.html" %}

{% block contents %}

<div class="container" id="site">
  
    <div class="jumbotron jumbotron-fluid" style="background-color: #F8F8FF;">
      <div class="container">
        <h1 class="display-6" style="text-align: center;">DAEGURO MEMBER</h1>
    </div>
</div>


<div class="container" style="padding: 50px;">
    <p>
        <h1><i class="bi bi-file-person">  </i>이지현</h1>
    </p><br>
</div>

<div class="container" style="padding: 50px; ">
    <p>
        <h1><i class="bi bi-file-person">  </i>박서윤</h1>
    </p><br>

</div>
<div class="container" style="padding: 50px;">
    <p>
        <h1><i class="bi bi-file-person">  </i>허선진</h1>
    </p>
</div>








{% endblock contents %}